<% provide :title, 'Contact' %>

<h1>Contact</h1>

<p>Austin Rory Hackett</p>
<p>email: austinroryhackett@gmail.com</p>
<p>website: <a href="http://www.austinroryhackett.com">Eat My Internet</a></p>
<p>phone: 801-824-1432</p>
